@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
}

body {
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	/* margin: 0 10px; */
}

.nav {
	position: fixed;
	/* top: 0;
	left: 0;
	right: 0; */
	width: 100%;
	background-color: transparent;
	z-index: 1;
	transition: all 0.5s ease-in-out;
}

.nav .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

.container .logo a {
	padding: 0 15px;
	font-size: 28px;
	text-decoration: none;
}

.nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.nav a {
	padding: 10px 15px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

.nav.active {
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease-in-out;
}

.nav.active a {
	color: #000;
	transition: all 0.5s ease-in-out;
}

/* .nav.active li a {
	color: #fff;
} */

.nav.active .container {
	padding: 10px 0;
}

/* .nav .current,
.nav .current:active, */
.nav a:hover {
	text-decoration: underline;
	transition: all 0.5s ease-in-out;
}

/* .white {
	color: #fff;
} */

.burger {
	display: none;
	float: right;
	margin-left: auto;
	margin-right: 15px;
	cursor: pointer;
}

.burger div {
	height: 3px;
	width: 25px;
	margin: 5px;
	background-color: #000;
	transition: transform 0.4s ease-in-out;
}

/* HOME */
.hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-image: url('https://images.unsplash.com/photo-1576400883215-7083980b6193?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1113&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 100vh;
	padding-bottom: -10px;
	color: #fff;
	z-index: -2;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.hero h1 {
	margin-bottom: 50px;
	font-size: 60px;
}

.hero p {
	font-size: 20px;
	letter-spacing: 1px;
}

.content h2 {
	font-size: 35px;
	margin: 50px 25px;
}

.content p {
	margin: 0 25px;
	color: #555;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1.4px;
}

/* .about-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	height: 100%;
	width: 100%;
}

.about-column {
} */

/* SERVICES */
.row {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	width: 100%;
	padding: 20px 0;
}

.row:before {
	content: '';
	position: absolute;
	background-image: url('https://images.unsplash.com/photo-1579061201641-1e98ff03f7b1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1339&q=80');
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.5;
	z-index: -1;
}

.column {
	text-align: center;
	float: left;
	max-width: 350px;
	margin: 0 20px;
	padding: 0 25px 3px;
	background-color: rgba(0, 0, 0, 0.678);
	color: #fff;
	/* border: 2px groove maroon; */
	border-radius: 20px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.column h3 {
	margin-top: 10px;
	padding: 0 25px;
	font-size: 20px;
}

.column img {
	height: 200px;
	width: 100%;
	margin: 20px 0;
	border-radius: 20px;
}

.column p {
	margin: 20px 0;
	color: #fff;
}

/* CONTACT */
.contact-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-info {
	color: #000000;
	max-width: 500px;
	line-height: 35px;
	margin-bottom: 50px;
	padding-left: 50px;
	font-size: 18px;
}

.contact-info div {
	display: flex;
	align-items: center;
}

.contact-info i {
	text-align: right;
	padding: 10px 25px;
	font-size: 25px;
}

.contact-info div:first-child i {
	margin-left: 4px;
}

.contact-info div:first-child p {
	padding-left: 3px;
}

.socials {
	display: flex;
	justify-content: space-around;
	margin-top: 45px;
}

.socials i {
	font-size: 45px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.socials i:hover {
	text-shadow: 1px 2px 10px #000;
}

.contact-form {
	max-width: 700px;
	margin: 0 15px 60px;
}

.contact-info,
.contact-form {
	flex: 1;
}

.contact-form h2 {
	color: #fff;
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.contact-form .text-box {
	background: rgba(0, 0, 0, 0.925);
	color: #fff;
	border: none;
	width: calc(50% - 10px);
	height: 50px;
	padding: 12px;
	font-size: 15px;
	border-radius: 5px;
	outline: none;
	box-shadow: 0 3px 10px #000;
	margin-bottom: 20px;
	opacity: 0.9;
}

.contact-form .text-box:first-child {
	margin-right: 15px;
}

.contact-form textarea {
	background: rgba(0, 0, 0, 0.925);
	color: #fff;
	min-height: 200px;
	max-height: 400px;
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	font-size: 15px;
	outline: none;
	border-radius: 5px;
	box-shadow: 0 3px 10px #000;

	opacity: 0.9;
}

.contact-form .send-btn {
	float: right;
	background: #0582e3;
	color: #fff;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	transition: 0.3s;
	transition-property: background;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

.contact-form .send-btn:hover {
	background-color: #fff;
	color: #0582e3;
	border: 3px solid #0582e3;
	box-shadow: 1px 2px 6px #000;
	transition: 0.4s ease-in-out;
}

.contact-form .send-btn:active {
	border: 1px solid #0582e3;
}

/* Burger Animation */
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
	transition: transform 0.4s ease-in-out;
}
.toggle .line2 {
	opacity: 0;
	transition: transform 0.4s ease-in-out;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
	transition: transform 0.4s ease-in-out;
}

@media (max-width: 1000px) {
	.row {
		flex-direction: column;
	}
	.column {
		margin: 15px;
		max-width: 400px;
	}
}

@media (max-width: 650px) {
	.nav ul {
		position: fixed;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100vh;
		width: 75%;
		top: 0;
		background-color: rgba(0, 0, 0, 0.925);
		color: #fff;
		transform: translateX(150%);
		transition: 0.4s ease-in-out;
	}
	.nav.active a {
		color: #fff;
	}
	.burger {
		display: block;
	}
	.nav ul.open {
		transform: translate(0%);
		transition: 0.5s ease-in-out;
	}
	.contact-form {
		width: 100%;
		padding: 0 15px;
	}
	.contact-form .text-box {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}

@media (max-width: 430px) {
	.column {
		max-width: 350px;
	}
}
